<div *ngIf="voirListesMarques">
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Marques</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Marques</a></li>
                                    <li class="breadcrumb-item active">Listes des marques</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <!-- end row-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Listes des marques</h4>
                                <div class="flex-shrink-0">
                                    <div class="form-check form-switch form-switch-right form-switch-md">
                                        <button type="button" class="btn rounded-pill btn-primary" (click)="afficherFormulaireAjouter()">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end card header -->

                            <div class="card-body">
                                <div class="live-preview">
                                    <div class="row">
                                        <div class="table-responsive mt-4 mt-xl-0">
                                            <table class="table table-success table-striped table-nowrap align-middle mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">Code</th>
                                                        <th scope="col">Libelle</th>
                                                        <th scope="col">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let marque of marques;  let i = index">
                                                        <td class="fw-medium">{{ i+1 }}</td>
                                                        <td>{{ marque.code }}</td>
                                                        <td>{{ marque.libelle }}</td>
                                                        <td>
                                                            <div class="hstack gap-3 flex-wrap">
                                                                <a href="javascript:void(0);" class="link-success fs-15"><i class="ri-edit-2-line"></i></a>
                                                                <a href="javascript:void(0);" class="link-danger fs-15"><i class="ri-delete-bin-line"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <td *ngIf="marques.length == 0" class="text-danger">Pas de marques pour l'instant. Cliquez sur le bouton -Ajouter- pour faire un ajout !</td>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="voirFormulaireAjout">
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Marques</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Marques</a></li>
                                    <li class="breadcrumb-item active">Ajout d'une marque</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Ajout d'une marque</h4>
                                <div class="flex-shrink-0">
                                    <div class="form-check form-switch form-switch-right form-switch-md">
                                        <button type="button" class="btn rounded-pill btn-primary" (click)="retour()">Retour</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end card header -->
                            <div class="card-body">
                                <div class="live-preview">
                                    <div style="text-align: center;" *ngIf="!erreur" class="alert alert-danger">{{ messageErreur }}</div>
                                    <form class="form-horizontal" [formGroup]="marqueForm" (ngSubmit)="ajouterMarque()">
                                        <div class="row g-3">
                                            <div class="col-sm-6">
                                                <label for="code" class="form-label">Code</label>
                                                <input type="text" class="form-control" id="code" placeholder="Le code de la marque" name="code" formControlName="code" [(ngModel)]="marque.code" required>
                                                <div class="alert alert-danger" [hidden]="code.valid || code.pristine && !code.touched ">Le code est obligatoire</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="prenom" class="form-label">Libelle</label>
                                                <input type="text" class="form-control" id="libelle" placeholder="Le libelle de la marque" name="libelle" formControlName="libelle" [(ngModel)]="marque.libelle" required>
                                                <div class="alert alert-danger" [hidden]="libelle.valid || libelle.pristine && !libelle.touched ">Le libelle est obligatoire</div>
                                            </div>
                                        </div>
                                        <div style="text-align: center;">
                                            <br>
                                            <button type="submit" [disabled]="marqueForm.invalid" class="btn btn-primary center">Ajouter</button>
                                        </div>
                                    </form>
                                </div>
                                <!--end row-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
