<div *ngIf="voirListesModeles">
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Modèles</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Modèles</a></li>
                                    <li class="breadcrumb-item active">Listes des modèles</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <!-- end row-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Listes des modèles</h4>
                                <div class="flex-shrink-0">
                                    <div class="form-check form-switch form-switch-right form-switch-md">
                                        <button type="button" class="btn rounded-pill btn-primary" (click)="afficherFormulaireAjouter()">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end card header -->
                            <div class="card-body">
                                <div class="live-preview">
                                    <div class="row">
                                        <div class="table-responsive mt-4 mt-xl-0">
                                            <table class="table table-success table-striped table-nowrap align-middle mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">Code</th>
                                                        <th scope="col">Libelle</th>
                                                        <th scope="col">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let modele of modeles;  let i = index">
                                                        <td class="fw-medium">{{ i+1 }}</td>
                                                        <td>{{ modele.code }}</td>
                                                        <td>{{ modele.libelle }}</td>
                                                        <td class="text-center">
                                                            <div class="hstack gap-1 flex-wrap">
                                                                <button type="button" class="btn btn-info" (click)="afficherPageDetail(modele.id)">Détail</button>
                                                                <button type="button" class="btn btn-warning" (click)="afficherFormulaireModifier(modele.id)">Modifier</button>
                                                                <button type="button" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#myModal">Supprimer</button>
                                                                <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title center" id="myModalLabel">Suppression d'un modèle</h5>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body center">
                                                                                <p>Cette action est irréversible.</p>
                                                                                <p>Vous êtes sûr de vouloir supprimer ce modèle ?</p>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
                                                                                <button type="button" class="btn btn-danger " (click)="supprimerParClePrimaire(modele.id)" data-bs-dismiss="modal">Confirmez</button>
                                                                            </div>

                                                                        </div>
                                                                        <!-- /.modal-content -->
                                                                    </div>
                                                                    <!-- /.modal-dialog -->
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <td *ngIf="modeles.length == 0" class="text-danger">Pas de modèles pour l'instant. Cliquez sur le bouton -Ajouter- pour faire un ajout !</td>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="voirFormulaireAjout">
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Modèles</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Modèles</a></li>
                                    <li class="breadcrumb-item active">Ajout d'un modèle</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <!-- end row-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Ajout d'un modèle</h4>
                                <div class="flex-shrink-0">
                                    <div class="form-check form-switch form-switch-right form-switch-md">
                                        <button type="button" class="btn rounded-pill btn-primary" (click)="retour()">Retour</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end card header -->
                            <div class="card-body">
                                <div class="live-preview">
                                    <div style="text-align: center;" *ngIf="!erreur" class="alert alert-danger">{{ messageErreur }}</div>
                                    <form class="form-horizontal" [formGroup]="modeleForm" (ngSubmit)="ajouterModele()">
                                        <div class="row g-3">
                                            <div class="col-sm-6">
                                                <label for="code" class="form-label">Code</label>
                                                <input type="text" class="form-control" id="code" placeholder="Le code du modèle" name="code" formControlName="code" [(ngModel)]="modele.code" required>
                                                <div class="alert alert-danger" [hidden]="code.valid || code.pristine && !code.touched ">Le code est obligatoire</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="libelle" class="form-label">Libelle</label>
                                                <input type="text" class="form-control" id="libelle" placeholder="Le libelle du modèle" name="libelle" formControlName="libelle" [(ngModel)]="modele.libelle" required>
                                                <div class="alert alert-danger" [hidden]="libelle.valid || libelle.pristine && !libelle.touched ">Le libelle est obligatoire</div>
                                            </div>
                                        </div>
                                        <div style="text-align: center;">
                                            <br>
                                            <button type="submit" [disabled]="modeleForm.invalid" class="btn btn-primary center">Ajouter</button>
                                        </div>
                                    </form>
                                </div>
                                <!--end row-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!voirFormulaireModification">
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Modèles</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Modèles</a></li>
                                    <li class="breadcrumb-item active">Modification d'un modèle</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <!-- end row-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Modification d'un modèle</h4>
                                <div class="flex-shrink-0">
                                    <div class="form-check form-switch form-switch-right form-switch-md">
                                        <button type="button" class="btn rounded-pill btn-primary" (click)="retour()">Retour</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end card header -->
                            <div class="card-body">
                                <div class="live-preview">
                                    <div style="text-align: center;" *ngIf="!erreur" class="alert alert-danger">{{ messageErreur }}</div>
                                    <form class="form-horizontal" [formGroup]="modeleForm" (ngSubmit)="modifierModele()">
                                        <div class="row g-3">
                                            <div class="col-sm-6">
                                                <label for="code" class="form-label">Code</label>
                                                <input type="text" class="form-control" id="code" placeholder="Le code du modèle" name="code" formControlName="code" [(ngModel)]="modele.code" required>
                                                <div class="alert alert-danger" [hidden]="code.valid || code.pristine && !code.touched ">Le code est obligatoire</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="libelle" class="form-label">Libelle</label>
                                                <input type="text" class="form-control" id="libelle" placeholder="Le libelle du modèle" name="libelle" formControlName="libelle" [(ngModel)]="modele.libelle" required>
                                                <div class="alert alert-danger" [hidden]="libelle.valid || libelle.pristine && !libelle.touched ">Le libelle est obligatoire</div>
                                            </div>
                                        </div>
                                        <div style="text-align: center;">
                                            <br>
                                            <button type="submit" [disabled]="modeleForm.invalid" class="btn btn-warning center">Modifier</button>
                                        </div>
                                    </form>
                                </div>
                                <!--end row-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!voirPageDetail">
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Modèles</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Modèles</a></li>
                                    <li class="breadcrumb-item active">Détail d'un modèle</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Détail d'un modèle</h4>
                                <div class="flex-shrink-0">
                                    <div class="form-check form-switch form-switch-right form-switch-md">
                                        <button type="button" class="btn rounded-pill btn-primary" (click)="retour()">Retour</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end card header -->
                            <div class="card-body">
                                <div class="table-card">
                                    <table class="table mb-0">
                                        <tbody>
                                            <tr>
                                                <td class="fw-medium">Code</td>
                                                <td>{{ modele.code }}</td>
                                            </tr>
                                            <tr>
                                                <td class="fw-medium">Libelle</td>
                                                <td>{{ modele.libelle }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
