<div *ngIf="voirListesClients">
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Clients</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Clients</a></li>
                                    <li class="breadcrumb-item active">Liste des clients</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <!-- end row-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Listes des clients</h4>
                                <div class="flex-shrink-0">
                                    <div class="form-check form-switch form-switch-right form-switch-md">
                                        <button type="button" class="btn rounded-pill btn-primary" (click)="afficherFormulaireAjouter()">Ajouter</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end card header -->

                            <div class="card-body">
                                <div class="live-preview">
                                    <div class="row">
                                        <div class="table-responsive mt-4 mt-xl-0">
                                            <table class="table table-success table-striped table-nowrap align-middle mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">Nom</th>
                                                        <th scope="col">Prénom</th>
                                                        <th scope="col">Téléphone</th>
                                                        <th scope="col">Username</th>
                                                        <th scope="col">Password</th>
                                                        <th scope="col">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let client of clients;  let i = index ">
                                                        <td class="fw-medium">{{ i+1 }}</td>
                                                        <td>{{ client.nom }}</td>
                                                        <td>{{ client.prenom }}</td>
                                                        <td>{{ client.telephone }}</td>
                                                        <td>{{ client.username }}</td>
                                                        <td>{{ client.password }}</td>
                                                        <td class="text-center">
                                                            <div class="hstack gap-1 flex-wrap">
                                                                <button type="button" class="btn btn-info" (click)="afficherPageDetail(client.id)">Détail</button>
                                                                <button type="button" class="btn btn-warning" (click)="afficherFormulaireModifier(client.id)">Modifier</button>
                                                                <button type="button" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#myModal">Supprimer</button>
                                                                <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title center" id="myModalLabel">Suppression d'un client</h5>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body center">
                                                                                <p>Cette action est irréversible.</p>
                                                                                <p>Vous êtes sûr de vouloir supprimer ce client ?</p>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
                                                                                <button type="button" class="btn btn-danger " (click)="supprimerParClePrimaire(client.id)" data-bs-dismiss="modal">Confirmez</button>
                                                                            </div>

                                                                        </div>
                                                                        <!-- /.modal-content -->
                                                                    </div>
                                                                    <!-- /.modal-dialog -->
                                                                </div>
                                                                <!-- /.modal -->
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <br>
                                                </tbody>
                                            </table>
                                            <td *ngIf="clients.length == 0" class="text-danger">Pas de clients pour l'instant. Cliquez sur le bouton -Ajouter- pour faire un ajout !</td>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="voirFormulaireAjout">
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Clients</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Clients</a></li>
                                    <li class="breadcrumb-item active">Ajout d'un client</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Ajout d'un client</h4>
                                <div class="flex-shrink-0">
                                    <div class="form-check form-switch form-switch-right form-switch-md">
                                        <button type="button" class="btn rounded-pill btn-primary" (click)="retour()">Retour</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end card header -->
                            <div class="card-body">
                                <div class="live-preview">
                                    <div style="text-align: center;" *ngIf="!erreur" class="alert alert-danger">{{ messageErreur }}</div>
                                    <form class="form-horizontal" [formGroup]="clientForm" (ngSubmit)="ajouterClient()">
                                        <div class="row g-3">
                                            <div class="col-sm-6">
                                                <label for="nom" class="form-label">Nom</label>
                                                <input type="text" class="form-control" id="nom" placeholder="Le nom du client" name="nom" formControlName="nom" [(ngModel)]="client.nom" required>
                                                <div class="alert alert-danger" [hidden]="nom.valid || nom.pristine && !nom.touched ">Le nom est obligatoire</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="prenom" class="form-label">Prenom</label>
                                                <input type="text" class="form-control" id="prenom" placeholder="Le prenom du client" name="prenom" formControlName="prenom" [(ngModel)]="client.prenom" required>
                                                <div class="alert alert-danger" [hidden]="prenom.valid || prenom.pristine && !prenom.touched ">Le prenom est obligatoire</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="telephone" class="form-label">Téléphone</label>
                                                <input type="text" class="form-control" id="telephone" placeholder="Le numero de telephone du client" name="telephone" formControlName="telephone" [(ngModel)]="client.telephone" required>
                                                <div class="alert alert-danger" [hidden]="telephone.valid || telephone.pristine && !telephone.touched ">Le numero de telephone est obligatoire</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="username" class="form-label">Username</label>
                                                <input type="text" class="form-control" id="username" placeholder="Le username du client" name="username" formControlName="username" [(ngModel)]="client.username" required>
                                                <div class="alert alert-danger" [hidden]="username.valid || username.pristine && !username.touched ">Le username est obligatoire</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="password" class="form-label">Password</label>
                                                <input type="password" class="form-control" id="password" placeholder="Le password du client" name="password" formControlName="password" [(ngModel)]="client.password" required>
                                                <div class="alert alert-danger" [hidden]="password.valid || password.pristine && !password.touched ">Le password est obligatoire</div>
                                            </div>
                                        </div>
                                        <div style="text-align: center;">
                                            <br>
                                            <button type="submit" [disabled]="clientForm.invalid" class="btn btn-primary center">Ajouter</button>
                                        </div>
                                    </form>
                                </div>
                                <!--end row-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!voirFormulaireModification">
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Clients</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Clients</a></li>
                                    <li class="breadcrumb-item active">Modification d'un client</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Modification d'un client</h4>
                                <div class="flex-shrink-0">
                                    <div class="form-check form-switch form-switch-right form-switch-md">
                                        <button type="button" class="btn rounded-pill btn-primary" (click)="retour()">Retour</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end card header -->
                            <div class="card-body">
                                <div class="live-preview">
                                    <div style="text-align: center;" *ngIf="!erreur" class="alert alert-danger">{{ messageErreur }}</div>
                                    <form class="form-horizontal" [formGroup]="clientForm" (ngSubmit)="modifierClient()">
                                        <div class="row g-3">
                                            <div class="col-sm-6">
                                                <label for="nom" class="form-label">Nom</label>
                                                <input type="text" class="form-control" id="nom" placeholder="Le nom du client" name="nom" formControlName="nom" [(ngModel)]="client.nom" required>
                                                <div class="alert alert-danger" [hidden]="nom.valid || nom.pristine && !nom.touched ">Le nom est obligatoire</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="prenom" class="form-label">Prenom</label>
                                                <input type="text" class="form-control" id="prenom" placeholder="Le prenom du client" name="prenom" formControlName="prenom" [(ngModel)]="client.prenom" required>
                                                <div class="alert alert-danger" [hidden]="prenom.valid || prenom.pristine && !prenom.touched ">Le prenom est obligatoire</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="telephone" class="form-label">Téléphone</label>
                                                <input type="text" class="form-control" id="telephone" placeholder="Le numero de telephone du client" name="telephone" formControlName="telephone" [(ngModel)]="client.telephone" required>
                                                <div class="alert alert-danger" [hidden]="telephone.valid || telephone.pristine && !telephone.touched ">Le numero de telephone est obligatoire</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="username" class="form-label">Username</label>
                                                <input type="text" class="form-control" id="username" placeholder="Le username du client" name="username" formControlName="username" [(ngModel)]="client.username" required>
                                                <div class="alert alert-danger" [hidden]="username.valid || username.pristine && !username.touched ">Le username est obligatoire</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="password" class="form-label">Password</label>
                                                <input type="password" class="form-control" id="password" placeholder="Le password du client" name="password" formControlName="password" [(ngModel)]="client.password" required>
                                                <div class="alert alert-danger" [hidden]="password.valid || password.pristine && !password.touched ">Le password est obligatoire</div>
                                            </div>
                                        </div>
                                        <div style="text-align: center;">
                                            <br>
                                            <button type="submit" [disabled]="clientForm.invalid" class="btn btn-warning center">Modifier</button>
                                        </div>
                                    </form>
                                </div>
                                <!--end row-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="!voirPageDetail">
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Clients</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Clients</a></li>
                                    <li class="breadcrumb-item active">Détail d'un client</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Détail d'un client</h4>
                                <div class="flex-shrink-0">
                                    <div class="form-check form-switch form-switch-right form-switch-md">
                                        <button type="button" class="btn rounded-pill btn-primary" (click)="retour()">Retour</button>
                                    </div>
                                </div>
                            </div>
                            <!-- end card header -->
                            <div class="card-body">
                                <div class="table-card">
                                    <table class="table mb-0">
                                        <tbody>
                                            <tr>
                                                <td class="fw-medium">Nom</td>
                                                <td>{{ client.nom }}</td>
                                            </tr>
                                            <tr>
                                                <td class="fw-medium">Prenom</td>
                                                <td>{{ client.prenom }}</td>
                                            </tr>
                                            <tr>
                                                <td class="fw-medium">Téléphone</td>
                                                <td>{{ client.telephone }}</td>
                                            </tr>
                                            <tr>
                                                <td class="fw-medium">Username</td>
                                                <td>{{ client.username }}</td>
                                            </tr>
                                            <tr>
                                                <td class="fw-medium">Password</td>
                                                <td>{{ client.password }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
